@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8fafc; /* slate-50 */
}

.section-padding {
  @apply px-6 py-20 sm:px-10 md:py-28 lg:px-16;
}

.btn {
  @apply inline-block px-6 py-3 rounded-lg font-semibold text-center transition-all duration-300 ease-in-out;
}

.btn-primary {
  @apply bg-primary-blue text-white shadow-md hover:bg-blue-500 hover:shadow-lg transform hover:-translate-y-0.5;
}

.btn-secondary {
  @apply bg-white text-primary-blue border border-primary-blue hover:bg-primary-blue hover:text-white;
}
